notebook/
!notebook/2A94M5J1Z/*
.idea/
zeppelin/jarFiles/
!zeppelin/jarFiles/PLACEHOLDER
zeppelin/conf/shiro.ini
zeppelin/conf/zeppelin-env.sh
zeppelin/conf/zeppelin-site.xml
zeppelin/conf/interpreter.json